.Rproj.user
.Rhistory
.RData
.Rbuildignore
fFDR.Rproj
vignettes/*cache/
vignettes/fFDR-concordance.tex
vignettes/fFDR.synctex.gz
vignettes/fFDR.pdf
vignettes/figure
vignettes/fFDR.toc
vignettes/fFDR.log
vignettes/fFDR.tex
.DS_Store
src/*.o
src/*.so
inst/doc

tests/testthat/Rplots.pdf
