export(compareQvalue)
export(estFPi0)
export(factorialSim)
export(fixedPi0)
export(fqvalue)
export(kernelUnitInterval)
export(simulateTTests)
export(simulatefPi0TTests)
export(summary.fqvalueSimulation)
exportMethods(plot)
exportMethods(plotMISE)
exportMethods(summary)
import(data.table)
import(ggplot2)
import(gridExtra)
import(locfit)
import(qvalue)
import(reshape2)
import(scales)
importFrom(Rcpp,evalCpp)
importFrom(gam,gam)
importFrom(splines,ns)
useDynLib(fFDR)
